body{
	background-color:#F2F2F2;
	
}
.head{
	background-color: #024478;
	height:35px;
	 border-bottom: 1px solid #023d6c;
}
.menu1 ul {
	padding:0;
    list-style-type: none;
    padding-top:5px;
    overflow: hidden;
}

.menu1 li {
    float: left;
}
.menu1 li a {
    font-size:13px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.banner{
	padding-top:10px;
	background: #044b82;
    border-bottom: 1px solid #145281;
}

.input {
    width: 100%;
    font-size: 12px;
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    padding: 0px 27px 1px 11px;
    height: 27px;
	margin-bottom:5px;
	margin-top:5px;
}
.tieude1 {
    padding: 17px 0 15px;
    background: url(http://due.udn.vn/Portals/_default/Skins/DHKT/img/front/bg-line-tltle.png) repeat-x left center scroll;
}
.tieude1 h2 {
    text-transform: uppercase;
    color: #0867b0 !important;
    font-family: 'open_sansbold';
    font-size: 18px;
    background-color: #ffffff;
    padding-right: 10px;
    display: inherit;
	font-weight:bold;
}
.sinhvien {
    background-position: 0 -302px;
    height: 22px;
    line-height: 22px;
    width: 19px;
    margin-right: 5px;
    margin-top: -2px;
}
[class^="sinhvien"], [class*=" sinhvien"] {
    display: inline-block;
    vertical-align: text-top;
    background-image: url(3.png);
    background-position: 0;
    background-repeat: no-repeat;
   
}
ul {
  list-style: none;
}
.notify {
     margin: 6px 0 10px;
	 overflow: hidden;
	}
	
.notify-left {
    width: 58px;
    max-height: 56px;	
    float: left;
    display:block;
    margin-right: 13px;
    text-align: center;
}
.notify .notify-left .month {
    display: block;
    width: 100%;
    height: 30px;
    background: #0867b0;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.notify .notify-left .year {
    padding: 6px 0px;
    display: block;
    text-align: center;
    line-height: 13px;
    font-size: 15px;
    color: #a5a5a5;
    border: 1px solid #d1d1d1;
    border-top: none;
}
.notify .notify-right h4 {
    margin-top: -2px;
}
.sub-notify .notify-right h4 a {
    font-weight:700;
	line-height: 20px;
}
.sub-notify .notify-right a {
	font-size:13px;
	color:#363636;
	text-align:justify;
}
.hd{
	background-color:#044b82;
	padding: 10px 5px 7px 10px;
	text-align:center;
	color:white;
}
.footer{
	background-color:#024478;
	color:white;
	padding-top:20px;
	padding-bottom: 30px;
	line-height:10px;
}
.kt{
	line-height:20px;
}
.navbar-default {
    background-color: white;
}
	.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
	.nav{
	display:block;
	}
	.container {
    margin-right: auto;
    margin-left: auto;
}
	button, select {
    text-transform: none;
}
	button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
	.navbar navbar-default{background-color:white;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
	
}
	.navbar-collapse {
	padding-right: 15px;
	overflow-x: visible;
	border-top: 1px solid transparent;
	}
	.collapse {
    display: none;
}

	.nav {
	
    list-style: none;
}
	.nav>li {
    position: relative;
    display: block;
}
	
	.navbar-nav>li>a {
    font-size: 15px;
    color: #22166B;
    font-weight: 549;
    text-decoration: none;
    padding: 10px 20px 10px 20px !important;
}
	.nav>li>a {
    position: relative;
	text-transform: uppercase;
    display: block;
    padding: 5px 13px;
	font-size:15px;
	
}	
	#myNavbar a{
		color:#22166B;
	}
	#myNavbar ul{
		height:40px;
	}
	#myNavbar ul li a:hover{
		border-bottom: 5px solid #0b5baa;
		color:#0b5baa;
	}
	#con{
		margin-left:-40px;
		width:250px;
		z-index:1;
		position:absolute;
		display:none;	
	}
	ul#con li a{
	background-color:white;
	display: block;
    padding: 7px 10px 7px 20px;
    border-bottom: 1px solid #F2F2F2;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    position: relative;
    text-align: left !important;
	}
	#myNavbar ul li:hover #con{
		display:block;
		color:#0b5baa;
		
	}
	.fa fa-chevron-up{
		    display: block;
    position: absolute;
    top: 3px;
    right: 0px;
    width: 19px;
    height: 16px;
    background: url(img/front/icon-01.png) 0px -42px no-repeat;
	}
	.ngay {
    background: url(http://due.udn.vn/Portals/_default/Skins/DHKT/img/front/icon-date.png) left 2px no-repeat;
    padding-left: 18px;
    color: #a9a9a9;
}
.list-friend {
	background-color:white;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
.list-friend p{
	padding:5px 5px 0px 15px;
}
.list-friend img{
	padding-left:5px;
	height: 40px;
    width: 40px;
	padding-bottom:5px;
}
.anh1{
	position:absolute;
	z-index:1;
	border: 3px solid white;
	bottom: 50px;
	left:10px;
}
.avarta{
	position:absolute;
	
}

